gdb.gdb
.lvimrc
*.o
*.so
*.a
*.la
non-tarball
SVN-REVISION
config.log
config.status
Makefile
/doc/FAQ
/doc/RESOURCES
/doc/html/resources.html
Makeconf
Makefrag.*
/etc/Renviron
/etc/javaconf
/etc/ldpaths
libtool
/src/include/Rmath.h0
/src/include/config.h
/src/include/stamp-h
/src/library/base/DESCRIPTION
/src/library/compiler/DESCRIPTION
/src/library/datasets/DESCRIPTION
/src/library/grDevices/DESCRIPTION
/src/library/graphics/DESCRIPTION
/src/library/grid/DESCRIPTION
/src/library/methods/DESCRIPTION
/src/library/parallel/DESCRIPTION
/src/library/splines/DESCRIPTION
/src/library/stats/DESCRIPTION
/src/library/stats4/DESCRIPTION
/src/library/tcltk/DESCRIPTION
/src/library/tools/DESCRIPTION
/src/library/translations/DESCRIPTION
/src/library/utils/DESCRIPTION
/src/scripts/R.sh
/src/scripts/Rcmd
/src/scripts/f77_f2c
/src/scripts/javareconf
/src/scripts/mkinstalldirs
/src/scripts/pager
/src/scripts/rtags
/bin/
/doc/html/index.html
/include/
/lib/
/src/appl/Makedeps
/src/appl/integrate.d
/src/appl/interv.d
/src/appl/libappl.a
/src/appl/maxcol.d
/src/appl/optim.d
/src/appl/pretty.d
/src/appl/uncmin.d
/src/extra/blas/libRblas.so
/src/extra/tre/Makedeps
/src/extra/tre/libtre.a
/src/extra/tre/regcomp.d
/src/extra/tre/regerror.d
/src/extra/tre/regexec.d
/src/extra/tre/tre-ast.d
/src/extra/tre/tre-compile.d
/src/extra/tre/tre-match-approx.d
/src/extra/tre/tre-match-backtrack.d
/src/extra/tre/tre-match-parallel.d
/src/extra/tre/tre-mem.d
/src/extra/tre/tre-parse.d
/src/extra/tre/tre-stack.d
/src/extra/tre/xmalloc.d
/src/include/R.ts
/src/include/R_ext/Applic.ts
/src/include/R_ext/Arith.ts
/src/include/R_ext/BLAS.ts
/src/include/R_ext/Boolean.ts
/src/include/R_ext/Callbacks.ts
/src/include/R_ext/Complex.ts
/src/include/R_ext/Connections.ts
/src/include/R_ext/Constants.ts
/src/include/R_ext/Error.ts
/src/include/R_ext/GetX11Image.ts
/src/include/R_ext/GraphicsDevice.ts
/src/include/R_ext/GraphicsEngine.ts
/src/include/R_ext/Itermacros.ts
/src/include/R_ext/Lapack.ts
/src/include/R_ext/Linpack.ts
/src/include/R_ext/MathThreads.ts
/src/include/R_ext/Memory.ts
/src/include/R_ext/Parse.ts
/src/include/R_ext/Print.ts
/src/include/R_ext/PrtUtil.ts
/src/include/R_ext/QuartzDevice.ts
/src/include/R_ext/R-ftp-http.ts
/src/include/R_ext/RS.ts
/src/include/R_ext/RStartup.ts
/src/include/R_ext/Rallocators.ts
/src/include/R_ext/Random.ts
/src/include/R_ext/Rdynload.ts
/src/include/R_ext/Riconv.ts
/src/include/R_ext/Utils.ts
/src/include/R_ext/Visibility.ts
/src/include/R_ext/eventloop.ts
/src/include/R_ext/libextern.ts
/src/include/R_ext/stamp-R
/src/include/R_ext/stats_package.ts
/src/include/R_ext/stats_stubs.ts
/src/include/Rconfig.h
/src/include/Rconfig.tsa
/src/include/Rdefines.ts
/src/include/Rembedded.ts
/src/include/Rinterface.ts
/src/include/Rinternals.ts
/src/include/Rmath.h
/src/include/Rmath.tsa
/src/include/Rversion.h
/src/include/Rversion.tsa
/src/include/S.ts
/src/include/stamp-R
/src/main/CommandLineArgs.d
/src/main/Makedeps
/src/main/RNG.d
/src/main/Rdynload.d
/src/main/Renviron.d
/src/main/Rmain.d
/src/main/agrep.d
/src/main/alloca.d
/src/main/apply.d
/src/main/arithmetic.d
/src/main/array.d
/src/main/attrib.d
/src/main/bind.d
/src/main/builtin.d
/src/main/character.d
/src/main/coerce.d
/src/main/colors.d
/src/main/complex.d
/src/main/connections.d
/src/main/context.d
/src/main/cum.d
/src/main/datetime.d
/src/main/dcf.d
/src/main/debug.d
/src/main/deparse.d
/src/main/devices.d
/src/main/dotcode.d
/src/main/dounzip.d
/src/main/dstruct.d
/src/main/duplicate.d
/src/main/edit.d
/src/main/engine.d
/src/main/envir.d
/src/main/errors.d
/src/main/eval.d
/src/main/format.d
/src/main/g_alab_her.d
/src/main/g_cntrlify.d
/src/main/g_fontdb.d
/src/main/g_her_glyph.d
/src/main/gevents.d
/src/main/gram-ex.d
/src/main/gram.d
/src/main/graphics.d
/src/main/grep.d
/src/main/identical.d
/src/main/inlined.d
/src/main/inspect.d
/src/main/internet.d
/src/main/iosupport.d
/src/main/lapack.d
/src/main/list.d
/src/main/localecharset.d
/src/main/logic.d
/src/main/main.d
/src/main/mapply.d
/src/main/match.d
/src/main/memory.d
/src/main/mkdtemp.d
/src/main/names.d
/src/main/objects.d
/src/main/options.d
/src/main/paste.d
/src/main/platform.d
/src/main/plot.d
/src/main/plot3d.d
/src/main/plotmath.d
/src/main/print.d
/src/main/printarray.d
/src/main/printutils.d
/src/main/printvector.d
/src/main/qsort.d
/src/main/random.d
/src/main/raw.d
/src/main/registration.d
/src/main/relop.d
/src/main/rlocale.d
/src/main/saveload.d
/src/main/scan.d
/src/main/seq.d
/src/main/serialize.d
/src/main/sort.d
/src/main/source.d
/src/main/split.d
/src/main/sprintf.d
/src/main/startup.d
/src/main/strdup.d
/src/main/strncasecmp.d
/src/main/subassign.d
/src/main/subscript.d
/src/main/subset.d
/src/main/summary.d
/src/main/sysutils.d
/src/main/times.d
/src/main/unique.d
/src/main/util.d
/src/main/version.d
/src/nmath/Makedeps
/src/nmath/bd0.d
/src/nmath/bessel_i.d
/src/nmath/bessel_j.d
/src/nmath/bessel_k.d
/src/nmath/bessel_y.d
/src/nmath/beta.d
/src/nmath/chebyshev.d
/src/nmath/choose.d
/src/nmath/cospi.d
/src/nmath/d1mach.d
/src/nmath/dbeta.d
/src/nmath/dbinom.d
/src/nmath/dcauchy.d
/src/nmath/dchisq.d
/src/nmath/dexp.d
/src/nmath/df.d
/src/nmath/dgamma.d
/src/nmath/dgeom.d
/src/nmath/dhyper.d
/src/nmath/dlnorm.d
/src/nmath/dlogis.d
/src/nmath/dnbeta.d
/src/nmath/dnbinom.d
/src/nmath/dnchisq.d
/src/nmath/dnf.d
/src/nmath/dnorm.d
/src/nmath/dnt.d
/src/nmath/dpois.d
/src/nmath/dt.d
/src/nmath/dunif.d
/src/nmath/dweibull.d
/src/nmath/expm1.d
/src/nmath/fmax2.d
/src/nmath/fmin2.d
/src/nmath/fprec.d
/src/nmath/fround.d
/src/nmath/fsign.d
/src/nmath/ftrunc.d
/src/nmath/gamma.d
/src/nmath/gamma_cody.d
/src/nmath/gammalims.d
/src/nmath/i1mach.d
/src/nmath/imax2.d
/src/nmath/imin2.d
/src/nmath/lbeta.d
/src/nmath/lgamma.d
/src/nmath/lgammacor.d
/src/nmath/libnmath.a
/src/nmath/log1p.d
/src/nmath/mlutils.d
/src/nmath/pbeta.d
/src/nmath/pbinom.d
/src/nmath/pcauchy.d
/src/nmath/pchisq.d
/src/nmath/pexp.d
/src/nmath/pf.d
/src/nmath/pgamma.d
/src/nmath/pgeom.d
/src/nmath/phyper.d
/src/nmath/plnorm.d
/src/nmath/plogis.d
/src/nmath/pnbeta.d
/src/nmath/pnbinom.d
/src/nmath/pnchisq.d
/src/nmath/pnf.d
/src/nmath/pnorm.d
/src/nmath/pnt.d
/src/nmath/polygamma.d
/src/nmath/ppois.d
/src/nmath/pt.d
/src/nmath/ptukey.d
/src/nmath/punif.d
/src/nmath/pweibull.d
/src/nmath/qbeta.d
/src/nmath/qbinom.d
/src/nmath/qcauchy.d
/src/nmath/qchisq.d
/src/nmath/qexp.d
/src/nmath/qf.d
/src/nmath/qgamma.d
/src/nmath/qgeom.d
/src/nmath/qhyper.d
/src/nmath/qlnorm.d
/src/nmath/qlogis.d
/src/nmath/qnbeta.d
/src/nmath/qnbinom.d
/src/nmath/qnchisq.d
/src/nmath/qnf.d
/src/nmath/qnorm.d
/src/nmath/qnt.d
/src/nmath/qpois.d
/src/nmath/qt.d
/src/nmath/qtukey.d
/src/nmath/qunif.d
/src/nmath/qweibull.d
/src/nmath/rbeta.d
/src/nmath/rbinom.d
/src/nmath/rcauchy.d
/src/nmath/rchisq.d
/src/nmath/rexp.d
/src/nmath/rf.d
/src/nmath/rgamma.d
/src/nmath/rgeom.d
/src/nmath/rhyper.d
/src/nmath/rlnorm.d
/src/nmath/rlogis.d
/src/nmath/rmultinom.d
/src/nmath/rnbinom.d
/src/nmath/rnchisq.d
/src/nmath/rnorm.d
/src/nmath/rpois.d
/src/nmath/rt.d
/src/nmath/runif.d
/src/nmath/rweibull.d
/src/nmath/sexp.d
/src/nmath/sign.d
/src/nmath/signrank.d
/src/nmath/snorm.d
/src/nmath/stirlerr.d
/src/nmath/toms708.d
/src/nmath/wilcox.d
/src/scripts/R.fe
/src/unix/Makedeps
/src/unix/Rembedded.d
/src/unix/Rscript
/src/unix/X11.d
/src/unix/dynload.d
/src/unix/libunix.a
/src/unix/sys-std.d
/src/unix/sys-unix.d
/src/unix/system.d
/library/
/src/library/base/all.R
/src/library/tools/all.R
/src/library/tools/src/Makedeps
/src/library/tools/src/Rmd5.d
/src/library/tools/src/getfmts.d
/src/library/tools/src/gramLatex.d
/src/library/tools/src/gramRd.d
/src/library/tools/src/http.d
/src/library/tools/src/init.d
/src/library/tools/src/install.d
/src/library/tools/src/md5.d
/src/library/tools/src/signals.d
/src/library/tools/src/text.d
/src/main/R.bin
/src/modules/X11/Makedeps
/src/modules/X11/devX11.d
/src/modules/X11/rbitmap.d
/src/modules/X11/rotated.d
/src/modules/internet/Makedeps
/src/modules/internet/Rhttpd.d
/src/modules/internet/Rsock.d
/src/modules/internet/internet.d
/src/modules/internet/libcurl.d
/src/modules/internet/nanoftp.d
/src/modules/internet/nanohttp.d
/src/modules/internet/sock.d
/src/modules/internet/sockconn.d
/src/modules/lapack/Lapack.d
/src/modules/lapack/Makedeps
/doc/NEWS
/doc/NEWS.pdf
/doc/NEWS.rds
/doc/R.1
/doc/html/NEWS.html
/doc/html/packages.html
/doc/manual/R-FAQ.html
/doc/manual/R-admin.html
/doc/manual/R-data.html
/doc/manual/R-exts.html
/doc/manual/R-intro.html
/doc/manual/R-ints.html
/doc/manual/R-lang.html
/doc/manual/stamp-images-html
/doc/manual/version.texi
/src/library/base.inn
/src/library/compiler.inn
/src/library/compiler/all.R
/src/library/datasets.inn
/src/library/grDevices.inn
/src/library/grDevices/all.R
/src/library/grDevices/src/Makedeps
/src/library/grDevices/src/axis_scales.d
/src/library/grDevices/src/cairo/Makedeps
/src/library/grDevices/src/cairo/cairoBM.d
/src/library/grDevices/src/chull.d
/src/library/grDevices/src/colors.d
/src/library/grDevices/src/devCairo.d
/src/library/grDevices/src/devPS.d
/src/library/grDevices/src/devPicTeX.d
/src/library/grDevices/src/devQuartz.d
/src/library/grDevices/src/devices.d
/src/library/grDevices/src/init.d
/src/library/grDevices/src/stubs.d
/src/library/graphics.inn
/src/library/graphics/all.R
/src/library/graphics/src/Makedeps
/src/library/graphics/src/base.d
/src/library/graphics/src/graphics.d
/src/library/graphics/src/init.d
/src/library/graphics/src/par.d
/src/library/graphics/src/plot.d
/src/library/graphics/src/plot3d.d
/src/library/graphics/src/stem.d
/src/library/grid.inn
/src/library/grid/all.R
/src/library/grid/src/Makedeps
/src/library/grid/src/gpar.d
/src/library/grid/src/grid.d
/src/library/grid/src/just.d
/src/library/grid/src/layout.d
/src/library/grid/src/matrix.d
/src/library/grid/src/register.d
/src/library/grid/src/state.d
/src/library/grid/src/unit.d
/src/library/grid/src/util.d
/src/library/grid/src/viewport.d
/src/library/methods.inn
/src/library/methods/all.R
/src/library/methods/src/Makedeps
/src/library/methods/src/class_support.d
/src/library/methods/src/do_substitute_direct.d
/src/library/methods/src/init.d
/src/library/methods/src/methods_list_dispatch.d
/src/library/methods/src/slot.d
/src/library/methods/src/tests.d
/src/library/methods/src/utils.d
/src/library/parallel.inn
/src/library/parallel/all.R
/src/library/parallel/src/Makedeps
/src/library/parallel/src/fork.d
/src/library/parallel/src/init.d
/src/library/parallel/src/rngstream.d
/src/library/splines.inn
/src/library/splines/all.R
/src/library/splines/src/Makedeps
/src/library/splines/src/splines.d
/src/library/stamp-docs
/src/library/stats.inn
/src/library/stats/all.R
/src/library/stats/src/HoltWinters.d
/src/library/stats/src/Makedeps
/src/library/stats/src/PPsum.d
/src/library/stats/src/Srunmed.d
/src/library/stats/src/ansari.d
/src/library/stats/src/approx.d
/src/library/stats/src/arima.d
/src/library/stats/src/bandwidths.d
/src/library/stats/src/burg.d
/src/library/stats/src/chisqsim.d
/src/library/stats/src/complete_cases.d
/src/library/stats/src/cov.d
/src/library/stats/src/d2x2xk.d
/src/library/stats/src/dblcen.d
/src/library/stats/src/deriv.d
/src/library/stats/src/distance.d
/src/library/stats/src/distn.d
/src/library/stats/src/family.d
/src/library/stats/src/fexact.d
/src/library/stats/src/fft.d
/src/library/stats/src/filter.d
/src/library/stats/src/fourier.d
/src/library/stats/src/hclust-utils.d
/src/library/stats/src/influence.d
/src/library/stats/src/init.d
/src/library/stats/src/integrate.d
/src/library/stats/src/isoreg.d
/src/library/stats/src/kendall.d
/src/library/stats/src/kmeans.d
/src/library/stats/src/ks.d
/src/library/stats/src/ksmooth.d
/src/library/stats/src/line.d
/src/library/stats/src/lm.d
/src/library/stats/src/loessc.d
/src/library/stats/src/loglin.d
/src/library/stats/src/lowess.d
/src/library/stats/src/mAR.d
/src/library/stats/src/massdist.d
/src/library/stats/src/model.d
/src/library/stats/src/monoSpl.d
/src/library/stats/src/nls.d
/src/library/stats/src/optim.d
/src/library/stats/src/optimize.d
/src/library/stats/src/pacf.d
/src/library/stats/src/port.d
/src/library/stats/src/prho.d
/src/library/stats/src/rWishart.d
/src/library/stats/src/random.d
/src/library/stats/src/rcont.d
/src/library/stats/src/sbart.d
/src/library/stats/src/smooth.d
/src/library/stats/src/splines.d
/src/library/stats/src/starma.d
/src/library/stats/src/swilk.d
/src/library/stats/src/zeroin.d
/src/library/stats4.inn
/src/library/stats4/all.R
/src/library/tcltk.inn
/src/library/tcltk/all.R
/src/library/tcltk/src/Makedeps
/src/library/tcltk/src/init.d
/src/library/tcltk/src/tcltk.d
/src/library/tcltk/src/tcltk_unix.d
/src/library/tools.inn
/src/library/utils.inn
/src/library/utils/all.R
/src/library/utils/src/Makedeps
/src/library/utils/src/init.d
/src/library/utils/src/io.d
/src/library/utils/src/size.d
/src/library/utils/src/sock.d
/src/library/utils/src/stubs.d
/src/library/utils/src/utils.d
/stamp-java
/src/library/Recommended/KernSmooth.tgz
/src/library/Recommended/KernSmooth_2.23-13.tar.gz
/src/library/Recommended/MASS.tgz
/src/library/Recommended/MASS_7.3-39.tar.gz
/src/library/Recommended/Matrix.tgz
/src/library/Recommended/Matrix_1.1-5.tar.gz
/src/library/Recommended/boot.tgz
/src/library/Recommended/boot_1.3-14.tar.gz
/src/library/Recommended/class.tgz
/src/library/Recommended/class_7.3-11.tar.gz
/src/library/Recommended/cluster.tgz
/src/library/Recommended/cluster_2.0.1.tar.gz
/src/library/Recommended/codetools.tgz
/src/library/Recommended/codetools_0.2-10.tar.gz
/src/library/Recommended/foreign.tgz
/src/library/Recommended/foreign_0.8-62.tar.gz
/src/library/Recommended/lattice.tgz
/src/library/Recommended/lattice_0.20-29.tar.gz
/src/library/Recommended/mgcv.tgz
/src/library/Recommended/mgcv_1.8-4.tar.gz
/src/library/Recommended/nlme.tgz
/src/library/Recommended/nlme_3.1-119.tar.gz
/src/library/Recommended/nnet.tgz
/src/library/Recommended/nnet_7.3-8.tar.gz
/src/library/Recommended/rpart.tgz
/src/library/Recommended/rpart_4.1-8.tar.gz
/src/library/Recommended/spatial.tgz
/src/library/Recommended/spatial_7.3-8.tar.gz
/src/library/Recommended/survival.tgz
/src/library/Recommended/survival_2.37-7.tar.gz
/tests/Examples/base-Ex.R-cnt
/tests/Examples/compiler-Ex.R-cnt
/tests/Examples/datasets-Ex.R-cnt
/tests/Examples/grDevices-Ex.R-cnt
/tests/Examples/graphics-Ex.R-cnt
/tests/Examples/grid-Ex.R-cnt
/tests/Examples/methods-Ex.R-cnt
/tests/Examples/parallel-Ex.R-cnt
/tests/Examples/splines-Ex.R-cnt
/tests/Examples/stats-Ex.R-cnt
/tests/Examples/tcltk-Ex.R-cnt
/tests/Examples/tools-Ex.R-cnt
/tests/Examples/utils-Ex.R-cnt
